.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #282c34;
  color: white;
}

.home-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.home-text {
  font-size: 1.2rem;
  max-width: 600px;
}
